<!DOCTYPE html>
<html lang="en">

    <!-- Custom styles for this template -->
    <link href="../static/css/newuser.css" rel="stylesheet">

  </head>

  <body>
    {%  extends "base.html"  %}
    {%  block body  %}
    <div class="container">

      <form class="form-signin" role="form" action="/logon/userlogin" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" name="user_email" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" name="user_password" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    {%  endblock  %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
